{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <!--{% static}~ 은 urlresolver없이 경로를 생성해주는 기능인데, 위의 load static을 먼저 해둬야 쓸 수 있다.-->

    <title>Document</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a href="" class="navbar-brand">DjangoGirls</a>
    </nav>
    <div class="container mt-2">
        <div class="card mb-2">
            <div class="card-body">
                <h4 class="card-title">{{post.title}}</h4>
                <div>
                    <h6 class="card-subtitle mb-2 text-muted">{{post.created_date}}</h6>
                    <p class="card-text">{{post.text|linebreaksbr}}</p>
                    <p class="text-right">Author: {{post.author}}</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>