{% extends 'base.html' %}
<!--{% load static %}-->
<!--<!doctype html>-->
<!--<html lang="en">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<meta name="viewport"-->
          <!--content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">-->
    <!--<meta http-equiv="X-UA-Compatible" content="ie=edge">-->
    <!--Bootstrap CSS-->
    <!--<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">-->
    <!--{% static}~ 은 urlresolver없이 경로를 생성해주는 기능인데, 위의 load static을 먼저 해둬야 쓸 수 있다.-->

    <!--<title>Document</title>-->
<!--</head>-->
<!--<body>-->

    <!--<nav class="navbar navbar-expand-lg navbar-dark bg-dark">-->
        <!--<a href="/" class="navbar-brand">DjangoGirls</a>-->
        <!--/ : root, 즉 post_list.html로 가도록 한다.-->
    <!--</nav>-->

    <!--<div class="container mt-2">-->
{% block content %}
        <a class="btn btn-primary mb-2" href="/">글 목록으로</a>
        <!--btn: 버튼모양 base-->
        <!--btn-primary : primary 타입 버튼 속성 지정-->
        <!--mb-2 : margin-bottom 지정-->
        <div class="card mb-2">
            <div class="card-body">
                <h4 class="card-title">{{post.title}}</h4>
                <div>
                    <h6 class="card-subtitle mb-2 text-muted">{{post.created_date}}</h6>
                    <p class="card-text">{{post.text|linebreaksbr}}</p>
                    <p class="text-right">Author: {{post.author}}</p>
                </div>
            </div>
        </div>
{% endblock %}
    <!--</div>-->
<!--</body>-->
<!--</html>-->