<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Post List</h1>
    {{ posts|safe }}
    <!--|safe라는 필터를 추가하는 것으로 전달받은 텍스트를 코드로 인식하게끔 해준다.-->
    <!--{{ request }}-->
    <!--{{pokemon}}-->
<!--templates에서는 위와 같이 중괄호 2개로 변수를 출력할 수 있다. python과 문법이 다름-->
</body>
</html>